*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.container{
  background-color: purple;
  text-align: center;
  padding: 50px;
}

/* .content{
  max-width: 80%;
} */

h2{
  color: white;
  margin: 20px;
}

.box{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.box2{
  background-color: white;
  padding: 10px;
  text-align: left;
}

.box2 table{
  /* padding: 10px 0; */
  width: 100%;
}

.box2 p{
  margin-bottom: 10px;
}
.class-table{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

td, th {
  padding: 8px;

}

.backgroundpass{
  background-color: lightgrey;
}

.input{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.actions{
  padding-top: 10px;
}
